<%= render 'partials/header_service_message' %>
<div class="row">
  <div class="col s4 offset-s4">
    <h2 class="header"><%= t('resend-unlock-instructions') %></h2>

    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field input-field">
        <label class="" for="user_email"><%= t('user-email') %></label>
        <%= f.email_field :email %>
      </div>

      <div class="actions">
        <%= f.submit t('resend-unlock-instructions'), class: 'waves-effect waves-light btn' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
