<div class="row">

      <div class="col s6 offset-s3 coverBorder">
        <div>
          <%= image_tag current_user.avatar.url(:medium), class: "avatar-profile" %>
          <label class="title-profile"><%= current_user.name + " " + current_user.last_name %></label>
        </div>
      </div>
      <div class="col s6 offset-s3">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a class="active" href="#tab-information-profile"><%= t('information') %></a></li>
              <li class="tab col s3"><a href="#tab-friends-profile"><%= t('friends') %></a></li>
              <li class="tab col s3"><a href="#tab-publications-profile"><%= t('publications') %></a></li>
            </ul>
          </div>


          <%= render 'tab_information_profile' %>

          <div id="tab-friends-profile" class="col s12"></div>

          <%= render 'tab_publications_profile' %>

        </div>
      </div>
</div>