<%= render 'partials/header_service_message' %>
<p><%= t('hello') %> <%= @resource.email %>!</p>

<p><%= t('someone-has-requested-link-change-password') %></p>

<p><%= link_to t('change-password'), edit_password_url(@resource, reset_password_token: @token), class: 'waves-effect waves-light btn' %></p>

<p><%= t('please-ignore-this-email') %></p>
<p><%= t('password-change-until-access') %></p>
