<p><%= t('hello') %> <%= @resource.email %>!</p>

<p><%= t('account-has-been-locked') %></p>

<p><%= t('link-below-unlock') %></p>

<p><%= link_to t('unlock-account'), unlock_url(@resource, unlock_token: @token), class: 'waves-effect waves-light btn' %></p>
